<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Bookmarks</title>
</head>
<body>

<div layout:fragment="content">
    <div th:if="${bookmarks.empty}">no bookmarks</div>

    <div class="row">
        <!-- div containing the different selection filters -->
        <div class="col-xs-12 col-sm-3 col-sm-push-9" id="filter-container">
            <div class="col-xs-12">
                <!-- available tags -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">available tags</div>
                        <div class="panel-body">
                            <div th:if="${availableTags}">
                                <a th:each="tag : ${availableTags}"
                                   href="#" th:href="@{'/bookmarks?selectTag=' + ${tag}}">
                                    <button class="btn btn-default btn-sm taglist-entry" type="button" th:text="${tag}">
                                        Tag
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- selected tags -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">selected tags</div>
                        <div class="panel-body">
                            <div th:if="${selectedTags}">
                                <a th:each="tag : ${selectedTags}"
                                   href="#" th:href="@{'/bookmarks?deselectTag=' + ${tag}}">
                                    <button class="btn btn-default btn-sm taglist-entry" type="button" th:text="${tag}">
                                        Tag
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- div containing the table with the bookmarks -->
        <div class="col-xs-12 col-sm-9 col-sm-pull-3" id="table-container">
            <table th:unless="${bookmarks.empty}"
                   class="table table-striped table-bordered bookmark-table">
                <tr th:each="bookmark: ${bookmarks}">
                    <td>
                        <!-- bookmark entry -->
                        <div class="container-fluid">
                            <div class="row">
                                <!-- bookmark data -->
                                <div class="col-xs-10">
                                    <div class="bookmark-title" th:text="${bookmark.title}">title</div>
                                    <div class="bookmark-url">
                                        <a href="#" th:href="${bookmark.url}" target="_blank"
                                           th:text="${bookmark.url}">url</a>
                                    </div>
                                    <div class="bookmark-tags" th:text="${bookmark.joinedTags()}">tags
                                    </div>
                                </div>
                                <!-- buttons to edit and delete-->
                                <div class="col-xs-2 bookmark-buttons">
                                    <button class="btn btn-default btn-sm glyphicon glyphicon-edit"
                                            type="button">
                                    </button>
                                    <button class="btn btn-default btn-sm glyphicon glyphicon-trash"
                                            type="button">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
